---
import Auth from "../components/Auth.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Brass">
    <main class="dark:bg-slate-900">
        <Auth client:visible />
    </main>
</Layout>
